h1, 
h2, 
h3, 
p, 
ol, 
ul,
nav {
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height:  1.5;
}

ol {
    font-size: 16px;
    line-height:  1.5;
}

ul {
    font-size: 16px;
    line-height:  1.5;
}

.author {
    font-style: italic;
    font-size: 14px;
}

.bigfoot {
    font-size: 12px;
}