/* Universal selector */
* {
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3, 
p, 
ol, 
ul,
nav {
    font-family: sans-serif;
}

/* Smaller sections */

h1,
h2,
h3 {
    color: #8C6057;
}

article {
    margin-bottom: 25px;
}

/* Page sections */

p,
ul,
ol,
footer {
    color:#5C5346;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* CALLOUT: ALWAYS USE MARGIN-BOTTOM FOR SPACE */

.main-header {
    /* border-bottom: 15px solid #F0F2EF; */
    background-color: #F0F2EF;
    padding: 15px;
    padding-left: 30px;
    margin-bottom: 60px;
    text-align: center;
}

/* Pseudo elements don't exist, but they do. */
p::first-line {
    font-weight: bold;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    margin-bottom: 0px;
    position: relative;
    /* SEE: Pseudo-element placement: background-color: orange; */
}

/* Optional */
h2::after {
    content: "TOP";
    background-color: #AFD5AA;
    color: #000;
    font-size: 35%;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: 0px;
}

.dog-image {

    width: 100%;
    height: auto;
}

.dog-intro {
    /* Center the text */
    text-align: center;
    margin-bottom: 35px;
}


h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 25px;
}

ul,
ol {
    margin-left: 60px;
    margin-bottom: 15px;
}

p,
ol,
ul {
    font-size: 16px;
    line-height:  1.5;
    margin-bottom: 15px;
}

.author {
    font-style: italic;
    font-size: 12px;

}

.bigfoot {
    font-size: 12px;
}

aside {
    border-top: 10px solid #8c6057ce;
    padding: 15px 0px;
}

/* li:first-child {
    font-weight: bold;
} */

/* Styling links */
/* Always edit in this order: LVHA */
/* Class selector is weighted above all others */
/* When specificity is the same, the last one applies */
/* Unless "important!" is used */


a:link,
a:visited {
    color:#8C6057;
    text-decoration: none;
}

/* What happens when hovered? */

a:hover {
    color: #8c6057d6;
    /* font-weight: bold; */
    border-bottom: solid;
}

/* What happens when clicking? */

a:active {
    color:#79534b;
}

nav a:link {
    display: inline-block;
    margin-right: 30px;
    margin-left: 32px; 
}