h1, 
h2, 
h3, 
p, 
ol, 
ul,
nav {
    font-family: sans-serif;
}

h1,
h2,
h3 {
    color: #8C6057;
}

p,
ul,
ol,
footer {
    color:#5C5346;
}

.main-header {
    background-color: #F0F2EF;
    border-bottom: 15px solid #F0F2EF;
    border-width: 15px;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height:  1.5;

}

ol {
    font-size: 16px;
    line-height:  1.5;
}

ul {
    font-size: 16px;
    line-height:  1.5;
}

.author {
    font-style: italic;
    font-size: 14px;
}

.bigfoot {
    font-size: 12px;
}

aside {
    border-top: 10px solid #8c6057ce
}

/* li:first-child {
    font-weight: bold;
} */

/* Styling links */
/* Always edit in this order: LVHA */

a:link,
a:visited {
    color:#8C6057;
    text-decoration: none;
}

/* What happens when hovered? */

a:hover {
    color: #8c6057d6;
    font-weight: bold;
    border-bottom: solid;
}

/* What happens when clicking? */

a:active {
    color:#79534b;
}
