/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* CSS HEX */
/* 
orange-peel: #ff9f1cff;
mellow-apricot: #ffbf69ff;
white: #ffffffff;
light-cyan: #cbf3f0ff;
tiffany-blue: #27A599; 
*/


/* Universal selector */
* {
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3, 
p, 
ol, 
ul,
nav {
    font-family: 'Work Sans', sans-serif;
    
}

nav {
    font-size: 14px;
    /* 18 / 20 / 24 */
}

/* Smaller sections */

h2,
h3 {
    color: #27A599;
}

article {
    margin-bottom: 25px;
}

/* Page sections */

p,
ul,
ol,
footer {
    color:#303030;
}

.container {
    /* demonstration */
    width: 850px;
    /* width: 850px; */
    margin: 0 auto;
}

/* CALLOUT: ALWAYS USE MARGIN-BOTTOM FOR SPACE */

/* Main header & Aside have the same color */
.main-header {
    /* border-bottom: 15px solid #F0F2EF; */
    /* background-color: #afd5aa4c; */
    padding: 15px 0px;
    margin-bottom: 30px;
    text-align: center;
}

/* Pseudo elements don't exist, but they do. */
/* First line of every p is bold */

/* Bug found */
/* p::first-line {
    font-weight: bold;
} */

h1 {
    color: #D67D00;
    font-size: 18px;
    /* 18 / 20 / 24 */
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    /* 24 / 30 / 36 */
    margin-bottom: 0px;
    position: relative;
    /* SEE: Pseudo-element placement: background-color: orange; */
}

/* Optional */
h2::after {
    content: "TOP";
    background-color: #D67D00;
    color: #fff;
    font-size: 35%;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: 0px;
}

.dog-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 35px;
    /* X axis, Y axis, Blur radius */
    box-shadow: 0px 05px 10px rgb(170, 170, 170);
    /* transition: box-shadow 0.15s ease-in-out; */
}

/* May make the user click the image */
/* .dog-image:hover {
        /* X axis, Y axis, Blur radius */
        /* box-shadow: 0px 5px 10px rgb(170, 170, 170);
} */

.dog-intro {
    /* Center the text */
    text-align: left;
    margin-bottom: 35px;
}

h3 {
    font-size: 30px;
    margin-bottom: 17.5px;
}

p {
    margin-bottom: 25px;
}

ul,
ol {
    margin-left: 60px;
    margin-bottom: 35px;
}

p,
ol,
ul {
    font-size: 16px;
    line-height:  1.5;
    margin-bottom: 15px;
}

.author {
    font-style: italic;
    font-size: 12px;

}

.bigfoot {
    font-size: 12px;
}

aside {
    border-top: 10px solid #27a59881;
    padding: 15px 0px;
}

/* li:first-child {
    font-weight: bold;
} */

/* Styling links */
/* Always edit in this order: LVHA */
/* Class selector is weighted above all others */
/* When specificity is the same, the last one applies */
/* Unless "important!" is used */


a:link,
a:visited {
    color: #D67D00;
    text-decoration: none;
}

/* What happens when hovered? */

a:hover {
    color: #e59019;
    /* font-weight: bold; */
    border-bottom: solid;
}

/* What happens when clicking? */

a:active {
    color:#cd8117;
}

nav a:link {
    display: inline-block;
    margin-left: 15px;
}

/* Flexbox */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* VSCODE HACKS: */
/* Command + Tab - Auto comment */
/* Option + arrow down, arrow up - move line of code */
/* ! - Auto structure for new html & css file */